*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Pokemon';
    src: url(./fonts/Pokemon\ Hollow.ttf);
}
@font-face {
    font-family: 'Pokemon Solid';
    src: url(./fonts/Pokemon\ Solid.ttf);
}

body{
    background: url('imagens/forest.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Pokemon';
    height: 100vh;
}

#menuContainer {
    height: 100vh;
    display: inline;
}

#title {
    padding: 50px;
    font-size: 50px;
    height: 60px;
    color: #b22222;
    font-style: italic;
}


#buttonsMenu {
    margin: 20vh;
    display: inline-block;
    height: 250px;
    width: 150px ;
}

.menuButton {
    width: 150px;
    height: 100px;
    margin: 10px 0px;
    background-color: #f4f9fc;
    font-size: 20px;
    box-shadow: inset 3px 3px  #4d4d4d;
    border-radius: 10%;
    font-family: 'Pokemon';
    color:#ff8b32 ;
}

@keyframes darken {
    to {
        filter: brightness(0%)
    }
    to{
        background : rgb(0,0,0)
    }
}

.menuButton:hover {
    background-color: #ff8b32;
    color: #f4f9fc;

}
.menuButton:active {
    width: 130px;
    height: 80px;
    box-shadow: inset 3px black;
}

.pokemon {
    margin-top: 25vh;
}
@keyframes flee {
    to{
        margin-left: 180vh ;
    }
}

.line {
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    resize: none;
    margin: 10px;
    border: none;
    border-bottom: #943341 3px solid;
    font-family: 'Pokemon Solid';
    background: none;
    color: #f9f9f9;
}

#buttonAnswer {
    background: none;
    border: none;
    color: #943341;
    font-family: 'Pokemon Solid';
    margin: 10px ;
    font-size: 30px;
}

#buttonAnswer:hover{
    font-size: 35px;
    cursor: pointer;
}

#buttonAnswer:active {
    filter: contrast(200%);
}

#pokeballs {
    font-size: 45px;
    size: 10px;
    display: inline;
    color: #054f77;
    margin-top: 0px;
}

#gameContainer {
    font-family: 'Pokemon Solid';
    height: 100vh;
}

#imgPokeballs {
    width: 55px;
    margin-left: 10px;
}

h4{
    color: #870072;
}

.gifLoad {
    margin-top: 25vh;
    width: 30vh;
}

#inputTrainer {
    width: 150px;
    height: 50px;
    border-radius: 10%;
    text-align: center;
}
#inputTitle {
    color: #ff8b32;
}

#buttonPokedex:hover {
    background-color: #943341;
}

#pokedexContainer {
    margin-right: 10px;
    font-size: 20px;
    float: right;
    height: auto;
    background-color: #f4f9fc;
    color: #b22222;
    border-radius: 10%;
    padding: 10px;
}

ul {
    list-style-type: none;
}